/* components/AboutUsCta.module.css */
.aboutUsCta {
  background: var(--color-primary-lime);
  text-align: center;
  margin-top: 20px; /* Reduced space above the About Us section */
  margin-bottom: 40px; /* Add more space below the section */
  margin-left: 20px; /* Add white space on the left */
  margin-right: 20px; /* Add white space on the right */
}
.aboutContent {
  /* Center-align the text and content */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0; /* Reduce or remove extra space above the content */
}
.aboutContent h2 {
  font-size: 60px; margin-bottom: 20px;
  margin-top: 10px; /* Adjust this value as needed */
}
.aboutContent p {
  max-width: 700px; margin: 0 auto 40px auto; font-size: 16px;
  line-height: 1.6; color: var(--color-heading-dark);
}
.learnMoreBtn {
  display: flex;
  align-items: center;
  gap: 8px; /* Add spacing between the text and the icon */
  padding: 16px 40px; background-color: var(--color-primary-green); 
  color: #fff; border: none; border-radius: 8px; font-size: 18px; /* Increase font size for the text */
  font-weight: 500; cursor: pointer; transition: background-color 0.3s;
  width: 220px; /* Increase the width of the button */
  margin: 20px auto 0; /* Center the button and add space above it */
}
.learnMoreBtn:hover {
  background-color: #4a6715;
}

/* RESPONSIVENESS */
@media (max-width: 600px) {
    .aboutContent h2 {
        font-size: 40px;
    }
}